body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 1.45;
  font-family: "Source Sans Pro",Helvetica,sans-serif;
  background-color: #ffffff;
}

h1, h2, h3, h4 {
  margin: 0;
}

table {
  margin: 5px;
  padding-right: 10px;
  width: 100%;
}

tr:hover {
  background-color: #f0f0ff;
}

th {
  background-color: #c8c8ff;
  padding: 2px 5px;
  text-align: left;
}

td {
  margin: 5px;
  border-bottom: 1px solid #e0e0e0;
  padding-right: 25px;
  cursor: pointer;
  vertical-align: top;
  white-space: nowrap;
}

td.can-wrap {
  white-space: normal;
}

td span {
  display: inline-block;
  padding: 2px 5px;
}

#header {
  background-color: #e0e0e0;
  position: relative;
  padding: 0 20px;
}

#header h1 {
  padding: 10px 0;
  font-size: 30px;
}

#header h1 a {
  text-decoration: none;
}

#header h1 a img {
  vertical-align: top;
  width: 40px;
  margin-right: 5px;
}

#body {
  display: flex;
}

#metadata {
}

.hidden {
  display: none;
}

.sidebar h2 {
  padding: 5px 0 0 20px;
  font-size: 16px;
}

.sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 120px;
}

.sidebar ul li a {
  width: 90px;
  padding: 0 15px;
  display: block;
  text-decoration: none;
  white-space: nowrap;
}

.sidebar ul li a:hover {
  background-color: #555;
  color: white;
}

#sidebar1 {
  background-color: #e8e8e8;
}

#sidebar1 li.active {
  background-color: #f0f0f0;
}

#sidebar2, #history {
  background-color: #f0f0f0;
}

#sidebar2 li.active, #history li.active {
  background-color: #ffffff;
}

#content {
  margin: 5px;
  min-width: 900px;
}

#metadata {
  margin: 7px;
  padding: 5px;
  border: 1px solid #e0e0e0;
}

.main-info {
  font-size: large;
}

#table-tests-header {
  display: flex;
  margin-left: 7px;
}

#table-tests-header h2 {
  width: 100%;
}

#switcher {
  text-align: right;
  margin-right: 10px;
  margin-top: 5px;
  white-space: nowrap;
}

#table-tests .passed {
  color: green;
}

#table-tests .failed {
  color: red;
}

#testcase-info {
  margin-left: 7px;
}

#testcase-stacktrace {
  white-space: pre;
  font-family: monospace;
}

#duration-history {
  margin: 0 10px;
}

#duration-history rect {
  fill-opacity: 0.3;
  cursor: pointer;
}

#duration-history rect:hover {
  fill-opacity: 1;
}

.running, .running a {
  color: orange;
}

.passed, .passed a {
  color: green;
}

.failed, .failed a {
  color: red;
}

.fa {
  padding: 5px;
}

.fa-check {
  color: green;
}

.fa-times {
  color: red;
}

.tooltip {
  display: none;
  min-width: 80px;
  height: auto;
  fill: #ffffff;
  opacity: 0.5;
}
